@import "../../styles/mixins.scss";


.AccountPage{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.AccountPageWrapper{
   width: 350px;
}

.formWrapper {
   @include Wrapper
}

.formInut {
   @include Input
}