@import "../../styles/mixins.scss";

.userPage {
   padding: 10px;
}

.card {
   margin-top: 10px;
}

.formWrapper {
   @include Wrapper
}

.formInut {
   @include Input
}

.divider {
   margin: 10px 0 !important;
}

